[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_kili_us
X-KDE-PluginInfo-Author=Mitch Oliver
X-KDE-PluginInfo-Email=mitch.oliver@gmail.com
X-KDE-PluginInfo-Name=choqok_kili_us
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=kili.us
Name[bg]=kili.us
Name[bs]=kili.us
Name[ca]=kili.us
Name[ca@valencia]=kili.us
Name[cs]=kili.us
Name[da]=kili.us
Name[de]=kili.us
Name[el]=kili.us
Name[en_GB]=kili.us
Name[es]=kili.us
Name[et]=kili.us
Name[fi]=kili.us
Name[fr]=kili.us
Name[gl]=kili.us
Name[hr]=kili.us
Name[hu]=kili.us
Name[it]=kili.us
Name[km]=kili.us
Name[nb]=kili.us
Name[nds]=kili.us
Name[nl]=kili.us
Name[pa]=kili.us
Name[pl]=kili.us
Name[pt]=kili.us
Name[pt_BR]=kili.us
Name[ru]=kili.us
Name[sk]=kili.us
Name[sl]=kili.us
Name[sv]=kili.us
Name[tr]=kili.us
Name[uk]=kili.us
Name[x-test]=xxkili.usxx
Name[zh_CN]=kili.us
Name[zh_TW]=kili.us
Comment=A plugin to shorten URLs via the kili.us service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата kili.us.
Comment[bs]=Priključak koji skraćuje URL-ove pomoću servisa kili.us.
Comment[ca]=Un connector per escurçar URL a través del servei kili.us.
Comment[ca@valencia]=Un connector per escurçar URL a través del servei kili.us.
Comment[cs]=Zásuvný modul pro zkracování URL s použitím služby kili.us.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten kili.us.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des kili.us-Dienstes zu kürzen
Comment[el]=Πρόσθετο συντόμευσης για URL με την υπηρεσία kili.us
Comment[en_GB]=A plugin to shorten URLs via the kili.us service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de kili.us.
Comment[et]=Plugin URL-ide lühendamiseks kili.us teenuse abil.
Comment[fr]=Un module externe pour raccourcir les URL via le service kili.us.
Comment[gl]=Un engadido para abreviar URL mediante o servizo gool.gl.
Comment[hr]=Priključak koji skraćuje URL-ove pomoću servisa kili.us.
Comment[hu]=Bővítmény hivatkozások rövidítéséhez a kili.us szolgáltatással.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio kili.us.
Comment[km]=កម្ម​វិធី​ជំនួយ​​ដែល​ត្រូវ​កាត់​ URLs ឲ្យ​ខ្លី​តាម​រយៈ​សេវា​របស់​ kili.us ។
Comment[nb]=Et programtillegg som korter inn URL-er via kili.us-tjenesten.
Comment[nds]=En Moduul för't Kortmaken vun Adressen mit "kili.us".
Comment[nl]=Een plugin voor het inkorten van URL's via de kili.us-service.
Comment[pa]=kili.us ਸਰਵਿਸ ਰਾਹੀਂ URL ਛੋਟੇ ਕਰਨ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do skracania adresów URL przy pomocy serwisu kili.us .
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do kili.us.
Comment[pt_BR]=Plugin para encurtar URLs através do serviço kili.us.
Comment[ru]=Модуль для сокращения ссылок с помощью службы kili.us.
Comment[sl]=Vstavek za krajšanje URL-jev preko storitve kili.us.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten kili.us.
Comment[tr]=kili.us kullanarak adresleri kısaltmaya yarayan bir eklenti.
Comment[uk]=Додаток для скорочення адрес за допомогою служб kili.us.
Comment[x-test]=xxA plugin to shorten URLs via the kili.us service.xx
Comment[zh_CN]=通过 kili.us 服务缩短 URL 的插件。
Comment[zh_TW]=用 kili.us 縮短網址用的外掛程式
